@using Addresses.Models

@model IndexViewModel

@addTagHelper "*, Addresses"

@{
    ViewData["Title"] = "Список адресов";
}

<div style="text-align:center">
    <table class="table text-center">
        <tr style="vertical-align:middle;text-align:center">
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CountrySort">Страна</sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CitySort">Город</sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.StreetSort">Улица</sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.HouseNumberSort">Номер дома</sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.ZipCodeSort">Идекс</sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CreationDateTimeSort">Время создания</sort-header>
            </th>
        </tr>
        @foreach (var address in Model.Addresses)
        { 
        <tr>
            <td>@address.Country</td>
            <td>@address.City</td>
            <td>@address.Street</td>
            <td>@address.HouseNumber</td>
            <td>@address.ZipCode</td>
            <td>@address.CreationDateTime</td>
        </tr>
        }
    </table>
</div>
