@using Addresses.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using PagedList.Core

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@inject IViewLocalizer Localizer

@model IndexViewModel

@addTagHelper "*, Addresses"

@{
    ViewData["Title"] = "Список адресов";
}

<div style="text-align:center">
    <form method="get">
        <div class="form-inline">
            <table class="table text-center">
                <tr style="vertical-align:middle;text-align:center">
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CountrySort">@Localizer.GetString("Country")</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CitySort">@Localizer["City"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.StreetSort">@Localizer["Street"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.HouseNumberSort">@Localizer["HouseNumber"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.ZipCodeSort">@Localizer["ZipCode"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CreationDateTimeSort">@Localizer["CreationDateTime"]</sort-header>
                    </th>
                </tr>
                <tr>
                    <td>@Html.TextBox("countryFilter", Model.FilterViewModel.SelectedCountry, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("cityFilter", Model.FilterViewModel.SelectedCity, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("streetFilter", Model.FilterViewModel.SelectedStreet, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("houseNumberFilter", Model.FilterViewModel.SelectedHouseNumber, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("zipCodeFilter", Model.FilterViewModel.SelectedZipCode, htmlAttributes: new { @class = "form-control" })</td>
                    <td><input type="text" name="creationDataTimeFilter" value="01/01/2015 - 01/31/2015" /></td>
                    @*<td>@await Html.PartialAsync("_DateRangePartial"), htmlAttributes: new { @class() = "form-control" })</td>*@
                </tr>


        @foreach (var address in Model.Addresses)
        {
            <tr>
                <td><p style=@Model.FilterViewModel.StyleTextCountry> @address.Country</p></td>
                <td><p style=@Model.FilterViewModel.StyleTextCity>@address.City</p></td>
                <td><p style=@Model.FilterViewModel.StyleTextStreet>@address.Street</p></td>
                <td><p style=@Model.FilterViewModel.StyleTextHouseNumber>@address.HouseNumber</p></td>
                <td><p style=@Model.FilterViewModel.StyleTextZipCode>@address.ZipCode</p></td>
                <td><p style=@Model.FilterViewModel.StyleTextCreationDateTime>@address.CreationDateTime</p></td>
            </tr>
        }
    </table>
            <input type="submit" value="Фильтр" class="btn btn-default" @*style="visibility:hidden" *@ />
            </div>
</form>
</div>
@*@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-countryFilter="@(Model.FilterViewModel.SelectedCountry)"
       asp-route-cityFilter="@(Model.FilterViewModel.SelectedCity)"
       asp-route-streetFilter="@(Model.FilterViewModel.SelectedStreet)"
       asp-route-houseNumberFilter="@(Model.FilterViewModel.SelectedHouseNumber)"
       asp-route-zipCodeFilter="@(Model.FilterViewModel.SelectedZipCode)"
       asp-route-creationDateTimeFilter="@(Model.FilterViewModel.SelectedCreationDateTime)"
       asp-route-sortState="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
       Назад
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{ 
    <a asp-action = "Index"
       asp-route-page = "@(Model.PageViewModel.PageNumber+1)"
       asp-route-countryFilter = "@(Model.FilterViewModel.SelectedCountry)"
       asp-route-cityFilter = "@(Model.FilterViewModel.SelectedCity)"
       asp-route-streetFilter = "@(Model.FilterViewModel.SelectedStreet)"
       asp-route-houseNumberFilter = "@(Model.FilterViewModel.SelectedHouseNumber)"
       asp-route-zipCodeFilter = "@(Model.FilterViewModel.SelectedZipCode)"
       asp-route-creationDateTimeFilter = "@(Model.FilterViewModel.SelectedCreationDateTime)"
       asp-route-sortState = "@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
       Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}*@
<a a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber=1)"
       asp-route-countryFilter="@(Model.NoFilterViewModel.SelectedCountry)"
       asp-route-cityFilter="@(Model.NoFilterViewModel.SelectedCity)"
       asp-route-streetFilter="@(Model.NoFilterViewModel.SelectedStreet)"
       asp-route-houseNumberFilter="@(Model.NoFilterViewModel.SelectedHouseNumber)"
       asp-route-zipCodeFilter="@(Model.NoFilterViewModel.SelectedZipCode)"
       asp-route-creationDateTimeFilter="@(Model.NoFilterViewModel.SelectedCreationDateTime)"
       asp-route-sortState="@(Model.SortViewModel.NoSort)"
       class="btn btn-default btn">
       @Localizer["Refresh"]
        <i class="glyphicon glyphicon-refresh"></i>
    </a>
    @*Страница @(Model.PageViewModel.PageCount < Model.PageViewModel.PageNumber ? 0 : Model.PageViewModel.PageNumber) из @Model.PageViewModel.PageCount

    <pager class="pager-container" list="@Model.Addresses" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Index" asp-controller="Home" asp-route-keyword="azaza" />*@

<script type="text/javascript">
$(function() {
    $('input[name="creationDataTimeFilter"]').daterangepicker();
});
</script>