@using Addresses.Models
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model IndexViewModel

@addTagHelper "*, Addresses"

@{
    ViewData["Title"] = "Список адресов";
}

<div style="text-align:center">
    <form method="get">
        <div class="form-inline">
            <table class="table text-center">
                <tr style="vertical-align:middle;text-align:center">
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CountrySort">@Localizer.GetString("Country")</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CitySort">@Localizer["City"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.StreetSort">@Localizer["Street"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.HouseNumberSort">@Localizer["HouseNumber"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.ZipCodeSort">@Localizer["ZipCode"]</sort-header>
                    </th>
                    <th>
                        <sort-header action="Index" up="@Model.SortViewModel.Up" current="@Model.SortViewModel.Current" property="@Model.SortViewModel.CreationDateTimeSort">@Localizer["CreationDateTime"]</sort-header>
                    </th>
                </tr>
                <tr>
                    <td>@Html.TextBox("countryFilter", Model.FilterViewModel.SelectedCountry, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("cityFilter", Model.FilterViewModel.SelectedCity, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("streetFilter", Model.FilterViewModel.SelectedStreet, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("houseNumberFilter", Model.FilterViewModel.SelectedHouseNumber, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("zipCodeFilter", Model.FilterViewModel.SelectedZipCode, htmlAttributes: new { @class = "form-control" })</td>
                    <td>@Html.TextBox("creationDateTimeFilter", Model.FilterViewModel.SelectedCreationDateTime, htmlAttributes: new { @class = "form-control" })</td>
                </tr>

       
        @foreach (var address in Model.Addresses)
        {
            <tr>
                <td>@address.Country</td>
                <td>@address.City</td>
                <td>@address.Street</td>
                <td>@address.HouseNumber</td>
                <td>@address.ZipCode</td>
                <td>@address.CreationDateTime</td>
            </tr>
        }
    </table>
            <input type="submit" value="Фильтр" class="btn btn-default" @*style="visibility:hidden" *@ />
            </div>
</form>
</div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-countryFilter="@(Model.FilterViewModel.SelectedCountry)"
       asp-route-cityFilter="@(Model.FilterViewModel.SelectedCity)"
       asp-route-streetFilter="@(Model.FilterViewModel.SelectedStreet)"
       asp-route-houseNumberFilter="@(Model.FilterViewModel.SelectedHouseNumber)"
       asp-route-zipCodeFilter="@(Model.FilterViewModel.SelectedZipCode)"
       asp-route-creationDateTimeFilter="@(Model.FilterViewModel.SelectedCreationDateTime)"
       asp-route-sortState="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
       Назад
        <i class="glyphicon glyphicon-chevron-left"></i>
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{ 
    <a asp-action = "Index"
       asp-route-page = "@(Model.PageViewModel.PageNumber+1)"
       asp-route-countryFilter = "@(Model.FilterViewModel.SelectedCountry)"
       asp-route-cityFilter = "@(Model.FilterViewModel.SelectedCity)"
       asp-route-streetFilter = "@(Model.FilterViewModel.SelectedStreet)"
       asp-route-houseNumberFilter = "@(Model.FilterViewModel.SelectedHouseNumber)"
       asp-route-zipCodeFilter = "@(Model.FilterViewModel.SelectedZipCode)"
       asp-route-creationDateTimeFilter = "@(Model.FilterViewModel.SelectedCreationDateTime)"
       asp-route-sortState = "@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
       Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
<a a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber=1)"
       asp-route-countryFilter="@(Model.NoFilterViewModel.SelectedCountry)"
       asp-route-cityFilter="@(Model.NoFilterViewModel.SelectedCity)"
       asp-route-streetFilter="@(Model.NoFilterViewModel.SelectedStreet)"
       asp-route-houseNumberFilter="@(Model.NoFilterViewModel.SelectedHouseNumber)"
       asp-route-zipCodeFilter="@(Model.NoFilterViewModel.SelectedZipCode)"
       asp-route-creationDateTimeFilter="@(Model.NoFilterViewModel.SelectedCreationDateTime)"
       asp-route-sortState="@(Model.SortViewModel.NoSort)"
       class="btn btn-default btn">
       @Localizer["Refresh"]
        <i class="glyphicon glyphicon-refresh"></i>
    </a>