@model IEnumerable<Addresses.Models.Address>

@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <table class="table text-center">
        <tr style="vertical-align:middle;text-align:center">
            <th>
                Страна
            </th>
            <th>
                Город
            </th>
            <th>
                Улица
            </th>
            <th>
                Дом
            </th>
            <th>
                Идекс
            </th>
            <th>
                Время создания
            </th>
        </tr>
        @foreach (var address in Model)
        { 
        <tr>
            <td>@address.Country</td>
            <td>@address.City</td>
            <td>@address.Street</td>
            <td>@address.HouseNumber</td>
            <td>@address.ZipCode</td>
            <td>@address.CreationDateTime</td>
        </tr>
        }
    </table>
</div>
